@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
}

a.active {
	color: rgb(232, 232, 141);
}

body {
	animation: fadein 1s ease-in;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}